In [3]:
import pandas as pd
import requests

In [5]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=ba6b4fb1957e70c09a674f8a495f825b&page=1')

In [14]:
df1 = pd.DataFrame(response.json()['results'])

In [15]:
df1[['title','overview','genre_ids']]

,title,overview,genre_ids
0,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,"[18, 80]"
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]"
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[18, 80]"
3,Schindler's List,The true story of how businessman Oskar Schind...,"[18, 36, 10752]"
4,12 Angry Men,The defense and the prosecution have rested an...,[18]
5,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...","[16, 10751, 14]"
6,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","[35, 18, 10749]"
7,The Dark Knight,Batman raises the stakes in his war on crime. ...,"[18, 28, 80, 53]"
8,Parasite,"All unemployed, Ki-taek's family takes peculia...","[35, 53, 18]"
9,The Green Mile,A supernatural tale set on death row in a Sout...,"[14, 18, 80]"
10,Your Name.,High schoolers Mitsuha and Taki are complete s...,"[16, 10749, 18]"
11,Pulp Fiction,"A burger-loving hit man, his philosophical par...","[53, 80]"
12,The Lord of the Rings: The Return of the King,As armies mass for a final battle that will de...,"[12, 14, 28]"
13,The Count of Monte-Cristo,Edmond Dantes becomes the target of a sinister...,"[12, 36, 28, 18, 10749, 53]"
14,Forrest Gump,A man with a low IQ has accomplished great thi...,"[35, 18, 10749]"
15,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...","[18, 80]"
16,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,[37]
17,Seven Samurai,A samurai answers a village's request for prot...,"[28, 18]"
18,Impossible Things,"After the death of her abusive husband, Matild...","[10751, 18]"
19,Grave of the Fireflies,"In the final months of World War II, 14-year-o...","[16, 18, 10752]"

In [16]:
df = pd.DataFrame()

In [19]:
df

Empty DataFrame
Columns: []
Index: []

In [28]:
for i in range(1,479):
  response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=ba6b4fb1957e70c09a674f8a495f825b&page={}'.format(i))
  temp_df = pd.DataFrame(response.json()['results'])
  df = pd.concat([df, temp_df], ignore_index=True)

df = df[['title','overview','genre_ids']]

In [29]:
df.shape

(28680, 3)

In [30]:
df.head()

,title,overview,genre_ids
0,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,"[18, 80]"
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]"
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[18, 80]"
3,Schindler's List,The true story of how businessman Oskar Schind...,"[18, 36, 10752]"
4,12 Angry Men,The defense and the prosecution have rested an...,[18]

In [31]:
df['overview'].head()

0    Imprisoned in the 1940s for the double murder ...
1    Spanning the years 1945 to 1955, a chronicle o...
2    In the continuing saga of the Corleone crime f...
3    The true story of how businessman Oskar Schind...
4    The defense and the prosecution have rested an...
Name: overview, dtype: object

In [32]:
df_overview = df['overview']

In [33]:
df_overview

0        Imprisoned in the 1940s for the double murder ...
1        Spanning the years 1945 to 1955, a chronicle o...
2        In the continuing saga of the Corleone crime f...
3        The true story of how businessman Oskar Schind...
4        The defense and the prosecution have rested an...
                               ...
28675    Gigli is ordered to kidnap the psychologically...
28676    Disturbing and mysterious things begin to happ...
28677    Old and forgotten, comedian Aldo is brought by...
28678    When young Joshua learns that he will be going...
28679    In this fast action-packed thriller, Jonathan,...
Name: overview, Length: 28680, dtype: object